<div class="box">
  <button (click)="delete()" class="btn btn-danger delete">X</button>
  <div class="sliderBox">
      <div class="previewBox">
          <img src="{{perview}}" id="preview" alt="">
      </div>
      <hr>
      <div class="slider">
          <div class="uploudBtn">
              <label for="upload" *ngIf="images.length<5" class="btn btn-success">+</label>
              <input  multiple hidden type="file" id="upload"(change)="getImage($event)"/>

          </div>
          <img (click)="display(i)" *ngFor="let item of images;let i=index" src="{{item}}" />
      </div>
      <div class="d-flex justify-content-end align-items-center p-4">
        <button (click)="back()" disabled="!perview==imageIndex==0" class="button">

          back
    </button>
          <button (click)="next()" disabled="!perview==imageIndex==(images.length-1)" class="button">
next
          </button>
          <!-- <button (click)="next()" [disabled]="imageIndex==5" class="button">
            next
                      </button> -->

      </div>
  </div>
</div>
